.calendar-slot.selected,.calendar-header-cell.selected {
    background: rgb(248, 255, 235);
}
.calendar-header-cell.selected,
.calendar-slot.selected {
    animation: fadeIn 0.5s ease;
}

.selected-planning-day .calendar-header-cell{background: darkgray;}
.selected-planning-day .calendar-day-number{
    background:darkblue;color:#ffff;
}