.weekly-calendar-grid {
    display: grid;
    grid-template-columns: 70px repeat(7, minmax(120px, 1fr));
    width: 100%;
    overflow-x: auto;
    column-gap: 2px;
}

.time-column,
.day-column {
    display: flex;
    flex-direction: column;
}

.hours-label-header,
.day-label {
    height: 60px;
    min-height: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
}

.planning-day-label {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    line-height: 1.2;
    overflow: hidden;
    text-transform: capitalize;
    font-size: 0.8rem;
    color: darkblue;
    border-radius: 10px 10px 0 0 ;
    padding: 5px;
    margin-bottom: 3px;
}

.time-slot {
    height: 60px;
    min-height: 60px;
    box-sizing: border-box;
}

.time-column {
    text-align: right;
}

.time-label {
    padding-right: 8px;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}
.time-slot {
    border: 1px solid #ddd;
    background: #ffff;
    border-radius: 5px;
}

.time-label {
    border-bottom: 1px solid #ddd;
}

.hours-label-header {
    border-bottom: 1px solid #ddd;
}
.header-day-number {
    display: flex;
    height: 20px;
    width: 20px;
    padding: 20px;
    border-radius: 99px;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    font-size: 1.2rem;
    margin: 5px;
    color: darkblue;
}
.header-day-number.active {
    background: darkblue;
    color: #ffff;
    font-size: 1rem;
    box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.35);
}
.selected-day {
    background: red;
    color: #ffff;
}
.selected-column{
    animation: fadeInColumn 2s ease;
}

.selected-column .planning-day-label .header-day-number {
    color: #ffff;
    background: red;
}
.selected-column .planning-day-label{
    background:darkgray;
}
@keyframes fadeInColumn {
    from {
        opacity: 0.4;
    }
    to {
        opacity: 1;
    }
}
